{% extends 'base.html' %}



<!-- Title -->
{% block title %} MedICI {% endblock %}


<!-- Body -->
{% block content %}


  <!-- Intro and MedICI description -->
  <div class=col-md>
      <div class="alert alert-light" role="alert">
          <h2>What is MedICI</h2>
          <hr>
          <section class=greeting>
            <p>The Medical Challenge Initiative (MedICI) is a platform to promote innovation through collaboration and harness the ingenuity of the American public.</p>

            <!-- Challenges -->
            {% include 'challenges.html' %}              

          </section>
      </div>  
  </div>


{% endblock %}