<div class=col-md>
  <div class="alert alert-light" role="alert">

    <h2 id=live_challeges>Currently open challenges:</h2>
    <!-- This is where the challenge thumbnails go -->
    <br>
    <span>
      <strong> *Note: Green border indicates this challenge is currently accepting submissions </strong> 
    </span>
    <br><br>
    <div class=challenge-cards>
        <div class=row>
          
          <div class=col-3>
            <div class="card border-success card-addons" style="width: 85% ; margin: auto;">
              <img class="card-img-top" src="{{ url_for('static', filename='img/spie-aapm-breast-cancer-challenge2-2021.jpg') }}" alt="Card image cap">
              <div class="card-body">
              <h5 class="card-title">SPIE-AAPM-NCI-DAIR Phase 2</h5>
              <p class="card-text">Digital Breast Tomosynthesis Lesion Detection Challenge (DBTex)</p>
              <hr>
              <a href="https://spie-aapm-nci-dair.westus2.cloudapp.azure.com/competitions/6" class="btn btn-primary" target= "_blank">Visit Site</a>
              </div>
            </div>          
          </div>

          <div class="col-3">
            <div class="card" style="width: 85% ; margin: auto;">
              <img class="card-img-top" src="{{ url_for('static', filename='img/qin-breast-adc.png') }}" alt="Card image cap">
              <div class="card-body">
              <h5 class="card-title">Breast MRI prediction of NAC Response
              </h5>
              <p class="card-text">Predicting pCR response to NAC</p>
              <hr>
              <a href="https://qin-challenge-acrin.centralus.cloudapp.azure.com/competitions/2" class="btn btn-primary" target= "_blank">Visit Site</a>
              </div>
            </div>          
          </div>

          <div class=col-3>
            <div class="card border-success card-addons" style="width: 85% ; margin: auto;">
              <img class="card-img-top" src="{{ url_for('static', filename='img/dl-sparse-view-ct-challenge.png') }}" alt="Card image cap">
              <div class="card-body">
              <h5 class="card-title">DL Sparse View CT Challenge</h5>
              <p class="card-text">Sparse-View CT Image Reconstruction</p>
              <hr>
              <a href="https://dl-sparse-view-ct-challenge.eastus.cloudapp.azure.com/competitions/1" class="btn btn-primary" target= "_blank">Visit Site</a>
              </div>
            </div>          
          </div>

        </div>

        <br>

        <div class=row>
          
          <div class=col-3>
            <div class="card border-success card-addons" style="width: 85% ; margin: auto;">
              <img class="card-img-top" src="{{ url_for('static', filename='img/spie-aapm-breast-cancer-challenge-2020-2021.jpg') }}" alt="Card image cap">
              <div class="card-body">
              <h5 class="card-title">SPIE-AAPM-NCI-DAIR</h5>
              <p class="card-text">Digital Breast Tomosynthesis Lesion Detection Challenge (DBTex)</p>
              <hr>
              <a href="http://spie-aapm-nci-dair.westus2.cloudapp.azure.com/competitions/4" class="btn btn-primary" target= "_blank">Visit Site</a>
              </div>
            </div>          
          </div>

          <div class=col-3>
            <div class="card border-success card-addons" style="width: 85% ; margin: auto;">
              <img class="card-img-top" src="{{ url_for('static', filename='img/miccai-2019.jpg') }}" alt="Card image cap">
              <div class="card-body">
              <h5 class="card-title">MICCAI 2020</h5>
              <p class="card-text">Computational Precision Medicine 2020: Brain Tumor Classification</p>
              <hr>
              <a href="https://miccai.westus2.cloudapp.azure.com/competitions/1" class="btn btn-primary" target= "_blank">Visit Site</a>
              </div>
            </div>          
          </div>

          <div class=col-3>
              <div class="card border-success card-addons" style="width: 85% ; margin: auto;">
                <img class="card-img-top" src="{{ url_for('static', filename='img/isbi-2018.png') }}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">ISBI 2018</h5>
                <p class="card-text">Lung Nodule Malignancy Prediction based on Sequential CT Scans</p>
                <hr>
                <a href="http://isbichallenges.cloudapp.net/competitions/15" class="btn btn-primary" target= "_blank">Visit Site</a>
                </div>
              </div>          
          </div>

        </div>

        <br>

        <div class=row>

          <div class=col-3>
            <div class="card" style="width: 85% ; margin: auto;">
              <img class="card-img-top" src="{{ url_for('static', filename='img/aapm_grand_challenge.png') }}" alt="Card image cap">
              <div class="card-body">
              <h5 class="card-title">AAPM Grand Challenge</h5>
              <p class="card-text">Computed Tomography Ventilation Imaging Evaluation 2019 (CTVIE19)</p>
              <a href="http://aapmchallenges.cloudapp.net/competitions/35" class="btn btn-primary" target= "_blank">Visit Site</a>
              </div>
            </div>          
          </div>

          <div class=col-3>
            <div class="card border-success card-addons" style="width: 85% ; margin: auto;">
              <img class="card-img-top" src="{{ url_for('static', filename='img/aapm_rt-mac-2019.png') }}" alt="Card image cap">
              <div class="card-body">
              <h5 class="card-title">AAPM RT-MAC Challenge</h5>
              <p class="card-text">Delineate Organs At Risk (OARs) or tumors from MR images for head and neck patients</p>
              <a href="http://aapmchallenges.cloudapp.net/competitions/34" class="btn btn-primary" target= "_blank">Visit Site</a>
              </div>
            </div>          
          </div>

        </div>

    </div>

  </div>
</div>
