{% extends 'base.html' %}



<!-- Title -->
{% block title %} MedICI {% endblock %}


<!-- Body -->
{% block content %}


  <!-- Intro and MedICI description -->
  <div class=col-md>
      <div class="alert alert-light" role="alert">
          <h2>What is MedICI</h2>
          <hr>
          <section class=greeting>
            <p>The Medical Imaging Challenge Infrastructure (MedICI) promotes innovation through collaboration and harness the ingenuity of the public. It is based on the Microsoft open-source project CodaLab and integrates the specialized image software such as ePad for DICOM images and caMicroscope for digital pathology whole-slide images. Other customizations were incorporated based on user input.</p>

            <!-- Challenges -->
            {% include 'challenges.html' %}              

          </section>
      </div>  
  </div>


{% endblock %}