{% extends 'base.html' %}



<!-- Title -->
{% block title %} Request Challenge {% endblock %}

<!-- Body -->
{% block content %}


  <!-- Intro and MedICI description -->
  <div class=col-md>
      <div class="alert alert-light" role="alert">
          <h2>Requesting a Challenge</h2>
          <hr>
          <section class=greeting>
            <p>This section is for requesting challenges.</p>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdAWhAoU5AMRypcF4WAzdMU-4xdwIsYsgSkAbVgA-0Dm_sMzQ/viewform?embedded=true" width="640" height="716" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
          </section>


      </div>  
  </div>


{% endblock %}

